{% extends 'base-front.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte<h1>
Bienvenue {{ app.user.firstname}} dans votre compte 
<hr>
-<a href="{{path('account_password')}}">Modifier mon mot de passe</a></hr>

{% endblock %}
