{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}


{% block header %}
    <section class="home-slider-loop-false  inner-page owl-carousel">
      <div class="slider-item" style="background-image:  url({{ asset('front/img/slider-1.jpg') }}";>
      
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              
            </div>
          </div>
        </div>

      </div>

    </section>
{% endblock %}
{% block body %}

<div id="calendrier">

</div>

<script>
        window.onload = () => {
            
            let calendarELt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarELt, {
                initialView:'timeGridWeek',
                locale:'fr',
                timeZone:'Europe/Paris',
                headerToolbar:{
                    start:'prev,next today',
                    center:'title',
                    end:'dayGridMonth,timeGridWeek'
                },
                events:{{ data|raw }},
                editable: true,
                eventResizableFromStart: true  });

            calendar.on('eventChange', (e) => {
                let url = '/api/' + e.event.id + '/edit';;
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.background_color,
                    "borderColor": e.event.border_color,
                    "textColor": e.event.text_color,
                    "allDay": e.event.all_Day
                };
            
                let xhr = new XMLHttpRequest();
                xhr.open("PUT", url);
                xhr.send(JSON.stringify(donnees));
            });
            
            calendar.render();
            
        }
    </script>
{% endblock %}

