{# templates/commande/delete_selected_form.html.twig #}

<form method="post" action="{{ path('app_commande_delete_selected_form') }}">
    <button type="submit" class="btn btn-danger">Delete Selected</button>
</form>
