{% extends 'base-back.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
<p style=" font-weight: bold; color: #3b3b3b; font-size:30px;">Create new Cours</p>

    {{ include('cours/_form.html.twig') }}

{% endblock %}
